#define BULLET_HIDE(x,from,count) class Bullet##x\
			{\
				type="hide";\
				source="revolving";\
				sourceAddress="mirror";\
				selection=bullet##x;\
				minValue=-1.000000;\
				maxValue= 0.000000;\
				hideValue=((count+x-from-2)/count)+0.00001;\
			};

class CfgSkeletons
{
	class Default
    	{
        	isDiscrete = 1;
        	skeletonInherit = "";
        	skeletonBones[] = {};
    	};

	class Weapon: Default
	{
		isDiscrete=1;
		skeletonInherit="Default";
		skeletonBones[]=
		{
			"magazine","",
			"trigger",""
		};
	};
	class MachineGun: Weapon
	{
		skeletonInherit="Weapon";
		skeletonBones[]=
		{
			"ammo_belt","",
			"ammo_belt_bottom","ammo_belt",
			"feedtray_cover","",
			"bolt","",
			"fake_bullet","",
			"bullet001","bullet002",
			"bullet002","bullet003",
			"bullet003","bullet004",
			"bullet004","bullet005",
			"bullet005","bullet006",
			"bullet006","bullet007",
			"bullet007","bullet008",
			"bullet007hide","",
			"bullet008","bullet009",
			"bullet009","bullet010",
			"bullet010","ammo_belt",
			"bullet_cover","",
			"optics","",
			"ammo_belt_cover","feedtray_cover",
			"ammo_belt_cover02","magazine",
			"misc_cover","feedtray_cover",
			"magazine_belt","magazine"
		};
	};
};

class CfgModels
{
	class Default
    	{
        	sections[] = {};
        	sectionsInherit="";
        	skeletonName = "";
    	};

	class Weapon: Default
	{
		sections[]=
		{
			"zasleh",
			"magazine",
			"trigger",
			"camo1",
			"camo2",
			"camo3",
			"camo4",
			"camo5",
			"camo6"
		};
		skeletonName="Weapon";
		class Animations
		{
			class zaslehROT
			{
				type="rotation";
				source="clockMinute";
				sourceAddress="loop";
				selection="test";
				begin="usti hlavne";
				end="konec hlavne";
				memory=1;
				minValue=0.0166665;
				maxValue=0.016666666666666666666666666666667;
				angle0="rad 0";
				angle1="rad 360";
			};
			class magazine_hide
			{
				type="hide";
				source="reloadMagazine";
				sourceAddress="mirror";
				selection="magazine";
				minValue=0.0;
				maxValue=0.4;
				hideValue=0.5;
			};
			class reload_ammobelt_hide: magazine_hide
			{
				selection="ammo_belt";
			};
			class reload_ammobelt_bottom_hide: magazine_hide
			{
				selection="ammo_belt_bottom";
			};
			class ammobelt_hide: magazine_hide
			{
				source="isEmpty";
				selection="ammo_belt";
				minValue=0.000000;
				maxValue=1.000000;
				hideValue=1.000000;
			};
			class ammobelt_bottom_hide: ammobelt_hide
			{
				selection="ammo_belt_bottom";
			};
		};
	};
	class MachineGun: Weapon
	{
		skeletonName="MachineGun";
		class Animations: Animations
		{
  	    		class ammo_belt
  			{
  				type="rotation";
  				source="reload";
  				selection="ammo_belt";
  				axis="ammo_belt_axis";
  				memory=1;
  				minValue=0.3;
  				maxValue=1.0;
  				angle0=-0.12;
          			angle1=0.06;
  			};
  			class ammo_belt_bottom:ammo_belt
  			{
  				selection="ammo_belt_bottom";
  				axis="ammo_belt_bottom_axis";
  				minValue=0.3;
  				maxValue=1.0;
  				angle0=-0.15;
          			angle1=-0.5;
  			};
  			class ammo_belt_shake_01
  			{
  				type="translation";
  				source="reload";
  				selection="bullet002";
  				axis="ammo_belt_axis";
  				sourceAddress="mirror";
  				memory=1;
  				minValue=0.0;
  				maxValue=0.5;
  				offset0=0.0;
          			offset1=0.05;
  			};

  			class ammo_belt_shake_02:ammo_belt_shake_01{selection="bullet003";offset1=0.05;};
        		class ammo_belt_shake_03:ammo_belt_shake_01{selection="bullet004";offset1=0.025;};
		        class ammo_belt_shake_05:ammo_belt_shake_01{selection="bullet006";offset1=-0.025;};
		        class ammo_belt_shake_06:ammo_belt_shake_01{selection="bullet007";offset1=-0.05;};
		        class ammo_belt_shake_08:ammo_belt_shake_01{selection="bullet009";offset1=-0.025;};
		        class ammo_belt_rotation_shake_01
  			{
  				type="rotation";
  				source="reload";
  				selection="bullet001";
  				axis="bullet002_axis";
  				sourceAddress="mirror";
  				memory=1;
  				minValue=0.0;
  				maxValue=0.5;
  				angle0="rad 0";
         			angle1="rad -30";
  			};
  			class ammo_belt_rotation_shake_02:ammo_belt_rotation_shake_01
  			{
  				selection="bullet002";
  				axis="bullet003_axis";
  				angle0="rad 0";
          			angle1="rad 5";
  			};
  			class ammo_belt_rotation_shake_03:ammo_belt_rotation_shake_01
  			{
  				selection="bullet003";
  				axis="bullet004_axis";
  				angle0="rad 0";
          			angle1="rad 25";
  			};
  			class magazine_shake
  			{
  				type="rotationZ";
  				source="reload";
  				selection="magazine";
  				axis="ammo_belt_axis";
  				sourceAddress="mirror";
  				memory=1;
  				minValue=0.0;
  				maxValue=0.5;
  				angle0="rad -0.5";
          			angle1="rad 0.5";
  			};
  			class magazine_shake02:magazine_shake
  			{
  				type="rotationX";
  				minValue=0.0;
  				maxValue=0.25;
  				angle0="rad 0.25";
          			angle1="rad -0.25";
  			};
  			class magazine_shake03:magazine_shake
  			{
  				type="rotationY";
  				minValue=0.0;
  				maxValue=0.5;
  				angle0="rad 0.33";
          			angle1="rad -0.33";
  			};
  			class ammo_belt_rotation_shake_static_01
  			{
  				type="rotation";
  				source="time";
  				selection="bullet004";
  				axis="bullet005_axis";
  				sourceAddress="mirror";
  				memory=1;
  				minValue=0.0;
  				maxValue=3.0;
  				angle0="rad 0";
          			angle1="rad 10";
  			};
  			class ammo_belt_rotation_shake_static_02:ammo_belt_rotation_shake_static_01
  			{
  				selection="bullet003";
  				axis="bullet004_axis";
  				minValue=0.1;
  				maxValue=3.5;
  				angle0="rad 0";
				angle1="rad 5";
			};
			class ammo_belt_rotation_shake_static_03:ammo_belt_rotation_shake_static_01
			{
				selection="bullet002";
				axis="bullet003_axis";
				minValue=0.2;
				maxValue=4.0;
				angle0="rad 0";
				angle1="rad 10";
			};
			BULLET_HIDE(001,10,100)
			BULLET_HIDE(002,10,100)
			BULLET_HIDE(003,10,100)
			BULLET_HIDE(004,10,100)
			BULLET_HIDE(005,10,100)
			BULLET_HIDE(006,10,100)
			BULLET_HIDE(007,10,100)
			BULLET_HIDE(008,10,100)
			BULLET_HIDE(009,10,100)
			BULLET_HIDE(010,10,100)

			class feedtray_cover_up
			{
				type="rotation";
				source="reloadMagazine";
				selection="feedtray_cover";
				axis="feedtray_cover_axis";
				memory=1;
				minValue=0.000000;
				maxValue=0.100000;
				angle0=0.000000;
				angle1=-1.570796;
			};
			class feedtray_cover_down:feedtray_cover_up
			{
				minValue=0.950000;
				maxValue=1.000000;
				angle0=0.000000;
				angle1=1.570796;
			};
			class bolt_begin
			{
				type="translation";
				source="reloadMagazine";
				selection="bolt";
				axis="bolt_axis";
				memory=1;
				minValue=0.150000;
				maxValue=0.200000;
				offset0=0;
				offset1=0.5;
			};
			class bolt_end:bolt_begin
			{
				minValue=0.800000;
				maxValue=0.900000;
				offset0=0;
				offset1=-0.5;
			};
		};
	};
	class BP_M249: MachineGun
        {
		class Animations:Animations
		{
			BULLET_HIDE(001,10,200)
			BULLET_HIDE(002,10,200)
			BULLET_HIDE(003,10,200)
			BULLET_HIDE(004,10,200)
			BULLET_HIDE(005,10,200)
			BULLET_HIDE(006,10,200)
			BULLET_HIDE(007,10,200)
			BULLET_HIDE(008,10,200)
			BULLET_HIDE(009,10,200)
			BULLET_HIDE(010,10,200)
			class feedtray_cover_up: feedtray_cover_up
			{
				angle1=-0.78539819;
			};
			class feedtray_cover_down: feedtray_cover_down
			{
				angle1=0.78539819;
			};
		};
	};
};